<div class="aboutContainer">
  <div class="share">
    <h2>A Place To Track Your Purchases</h2>
  </div>
  <!-- FLEXED DIV FOR FEATURES -->
  <div class="about">
    <div class="personal">
      <i class="fa fa-user"></i>
      <h2>Personal</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
      </p>
    </div>
    <div class="social">
      <i class="fa fa-users"></i>
      <h2>Social</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
        survived not only five centuries, but also the leap into
      </p>
    </div>
    <div class="local">
      <i class="fa fa-home"></i>
      <h2>Local</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
        survived not only
      </p>
    </div>
  </div>
</div>
