<div class="dashboardContainer">
  <h1>dashboard</h1>
  <center>
    <a class="btn" data-popup-open="popup-1" href="#">New Expense</a>

  <h2>Past Expenses</h2>
</center>
<div class="expenses" ng-repeat="expense in expenses">
  <h3>{{expense.merchant}}</h3>
  <h3>{{expense.expense}}</h3>
  <h3>{{expense.comment}}<h3>
</div>




  <div class="popup" data-popup="popup-1">
    <div class="popup-inner">
      <h2>New Expense Form</h2>
      <form class="expenseForm">
        Merchant Name:
        <br>
        <input type="text" ng-model="merchant"size="40%" height="20">
        <br> Expense Amount:
        <br>
        <input type="text" ng-model="expense" size="25%">
        <br>Comment (optional):
        <br>
        <input type="text" ng-model="comment"  placeholder="optional"size="40%">
      </form>
      <span>
      <p><a data-popup-close="popup-1" href="#" class="submit" ng-click="newExpense()">Submit Expense</a></p>
      <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </span>
    </div>
  </div>
</div>
